# Local development
*.env
*.dev

# IDE files
.idea

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
Dockerfile
docker-compose.yml

# Dependency directories
node_modules/
node_modules
client/node_modules
server/node_modules

# Optional npm cache directory
.npm

# logs
npm-debug.log

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# CSS files to ignore
client/css/index.css
client/css/index.css.map

# JS files to ignore
/client/js/all.js
/client/js/b-all.js
