<footer class="row no-gutters" itemscope itemtype="http://schema.org/Organization">

  <div class="clickable-bar" data-click="toggleShowing"></div>

  <div class="first-col col-xs-12 col-sm">
    <div class="center-block">
      <h6>
        <span class="hidden-sm-up">
          <span class="fa fa-info"></span>
          Om
          <!--<span class="mb-icons">f</span>-->
        </span>
        <span itemprop="legalName">Mercedes-Benz Försäljning AB i Malmö</span>
      </h6>
      [if showing]
        <p>
           En av landets största fullservice-anläggningar för <span itemprop="brand">Mercedes-Benz</span> person-, transport- och lastbilar.
        </p>
        <p>
          Ett helägt dotterbolag till Mercedes-Benz Sverige AB inom koncernen Daimler AG.
        </p>
      [endif]
    </div>
  </div>

  <div class="col hidden-xs-down between-pad">
  </div>

  <div class="col-xs-12 col-sm">
    <div class="center-block">
      <h6 class="hidden-xs-down">Adress/kontakt</h6>
      [if showing]
        <h6 class="hidden-sm-up">Adress/kontakt</h6>
        <div>
          <span class="fa fa-phone"></span>&nbsp;
          <a href="tel:+46406717000" itemprop="telephone">+46 40-671 70 00</a>
        </div>
        <div style="white-space:nowrap;">
          <span class="fa fa-envelope"></span>&nbsp;
          <a href="mailto:info-malmoe@daimler.com" itemprop="email">info&#8209;malmoe@daimler.com</a>
        </div>
        <div>
          &nbsp;<span class="fa fa-map-marker"></span>
          <span itemprop="address">
            Bronsyxegatan 14<br>
            <span class="fa"></span>
            &nbsp;213 75 Malmö
          </span>
        </div>
      [endif]
    </div>
  </div>

  <div class="col hidden-xs-down between-pad">
  </div>

  <div class="col-xs-12 col-sm">
    <div class="center-block">
      <h6 class="hidden-xs-down">Sociala media/länkar</h6>
      [if showing]
        <h6 class="hidden-sm-up">Sociala media/länkar</h6>
        <div>
          &nbsp;<span class="fa fa-facebook"></span>
          <a href="https://www.facebook.com/mercedesmalmo" target="_blank">Facebook</a>
        </div>
        <div>
          <span class="fa fa-envelope"></span>&nbsp;
          <a href="http://www3.mercedes-benz.se/applications/forms/newsletter/newsletter.aspx" target="_blank">Anmäl dig till nyhetsbrev</a>
        </div>
      [endif]
    </div>
  </div>

  <div class="col hidden-xs-down between-pad">
  </div>

  <div class="col-xs-12 col-sm">
    <div class="center-block about-web">
      <h6 class="hidden-xs-down">Om webbplatsen</h6>
      [if showing]
        <h6 class="hidden-sm-up">Om webbplatsen</h6>
        <a href="http://www.mercedes-benz.se/content/sweden/mpc/mpc_sweden_website/sv/home_mpc/cookies.html" target="_blank">Cookies</a>

        <a href="http://www.mercedes-benz.se/content/sweden/mpc/mpc_sweden_website/sv/home_mpc/privacy_statement.ngrb.html#_int_passengercars:home:footer:privacy_statement" target="_blank">Personuppgifter</a>

        <a href="http://www.mercedes-benz.se/content/sweden/mpc/mpc_sweden_website/sv/home_mpc/legal_notice.ngrb.html#_int_passengercars:home:footer:legal_notice" target="_blank">Förbehåll</a>

        <div class="hidden-sm-up extra-bottom-padding"></div>
      [endif]
    </div>
  </div>

</footer>
