<div class="row spaced">
  <div class="col-sm-9 offset-sm-1 col-lg-8 offset-lg-2">
    <div class="top on-header">
      <h1 class="h2">${title}</h1>
      <div class="input-group mb-4">
        <input data-focusin="fieldFocus" data-focusout="fieldBlur" data-keyup="go" type="text" class="form-control index-page-search-field" placeholder="Beskriv vad du letar efter…">
        <span class="input-group-btn">
          <button data-click="doIt" class="btn index-page-search-button" type="button">Hitta!</button>
        </span>
      </div>

      [template ani]

    </div>

    <div class="spaced">
      [template vehicle-categories]
    </div>
  </div>

  [template contextuals]
</div>
